# Dataset Preparation

In [1]:
import pandas as pd

# Load dataset
data_path = "../data/raw/Multinational_Company_Performance.csv"
df = pd.read_csv(data_path)

# Display basic information
print(df.info())
print(df.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction ID    30000 non-null  object
 1   Country           30000 non-null  object
 2   City              30000 non-null  object
 3   Product Category  30000 non-null  object
 4   Revenue           30000 non-null  float64
 5   Units Sold        30000 non-null  int64
 6   Profit Margin     30000 non-null  float64
 7   Transaction Date  30000 non-null  object
 8   Employee ID       30000 non-null  object
 9   Customer Segment  30000 non-null  object
 10  Order Priority    30000 non-null  object
 11  Sales Channel     30000 non-null  object
dtypes: float64(2), int64(1), object(9)
memory usage: 2.7+ MB
None
  Transaction ID         Country        City Product Category  Revenue  \
0        T000001         Belgium     Antwerp           Sports   101.46
1        T000002         Germany   Frankfurt          Apparel   854.67
2        T000003          France       Paris      Electronics   562.43
3        T000004          Norway   Trondheim          Apparel   837.43
4        T000005  United Kingdom  Manchester           Sports   757.20

   Units Sold  Profit Margin Transaction Date Employee ID Customer Segment  \
0          35           0.18       2023-10-25       E8188           Retail
1          59           0.06       2023-02-04       E3625   Small Business
2           6           0.27       2023-03-27       E7914        Corporate
3          56           0.06       2023-09-08       E5592        Corporate
4          81           0.11       2023-01-11       E6070   Small Business

  Order Priority Sales Channel
0            Low       Offline
1            Low        Online
2         Medium        Online
3           High       Offline
4           High       Offline

print(df.isnull().sum())

In [2]:
print(df.duplicated().sum())

0

# Data Cleaning and Transformation

In [3]:
# Drop rows with missing values
df = df.dropna()

In [4]:
# Remove duplicates
df = df.drop_duplicates()

In [5]:
df['Transaction Date'] = pd.to_datetime(df['Transaction Date'])

In [6]:
processed_path = "../data/processed/Cleaned_Multinational_Company_Performance.csv"
df.to_csv(processed_path, index=False)